@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #91BBF2,#0367A6);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(8, 17, 134);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #035AA6;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(18, 5, 136);
}

h2{
    color: #3baaeef6;
}

p{
    text-align: justify;
}